<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Server" value="localhost:11002"/>
    <add key="Pmyk" value="172.16.202.203:8899" />
    <add key="Zhhwy" value="172.16.202.200:8899" />
    <add key="Sca" value="13800771500" />
    <add key="Reply" value="收到。请不要向该号码打电话。如有异常或需电话沟通，请打13117769883，谢谢！" />
    <add key="Forward" value="18077681511" />
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="server=TROY-ZHOU\MSSERVER2012;database=Wodeyun.Baise;user=sa;password=1234Qwer!" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:10000/ExecuteService.svc" binding="webHttpBinding" contract="Wodeyun.Bf.Execute.Wrappers.Executor" />
    </client>
  </system.serviceModel>
</configuration>
