<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="server=TROY-ZHOU\MSSERVER2012;database=Wodeyun.Baise;user=sa;password=1234Qwer!" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:10000/ExecuteService.svc" binding="webHttpBinding" contract="Wodeyun.Bf.Execute.Wrappers.Executor" />
    </client>
    <protocolMapping>
      <add scheme="http" binding="webHttpBinding"/>
    </protocolMapping>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior>
          <webHttp faultExceptionEnabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
  </system.serviceModel>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>