<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Path" value="E:\work\WoodSystem" />
    <add key="Address" value="localhost" />
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="server=TROY-ZHOU\MSSERVER2012;database=Wodeyun.Baise;user=sa;password=1234Qwer!" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:11001/ServiceService.svc" binding="webHttpBinding" contract="Wodeyun.Bf.Esb.Wrappers.IServiceInterface" />
    </client>
    <protocolMapping>
      <add scheme="http" binding="webHttpBinding"/>
    </protocolMapping>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior>
          <webHttp faultExceptionEnabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
  </system.serviceModel>
  <system.web>
    <compilation debug="false" targetFramework="4.0"/>
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="true"/>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Headers" value="Content-Type"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>