<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <!--是否同步-->
    <add key="IsSync" value="true" />
    <!--工厂名称-->
    <add key="Factory" value="FLMY" />
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="server=TROY-ZHOU\MSSERVER2012;database=Wodeyun.Baise;user=sa;password=1234Qwer!" providerName="System.Data.SqlClient"/>
    <!--丰林明阳工业互联网数据连接-->
    <add name="ConnectionStringFLMY" connectionString="server=172.16.200.190;database=CloudForFLMY;user=sa;password=1qazXSW@" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <protocolMapping>
      <add scheme="http" binding="webHttpBinding"/>
    </protocolMapping>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior>
          <webHttp faultExceptionEnabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
  </system.serviceModel>
  <system.web>
    <compilation debug="false" targetFramework="4.0"/>
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>